:host {
  transform: rotate(180deg);
  position: fixed;
  z-index: 10;

  &:after {
    width: 15vw;
    height: 15vw;
    content: '';
    background: #f2721c;
    border-radius: 100%;
    position: absolute;
    top: 14vw;
    z-index: 15;
    filter: blur(11vw);
    transition: opacitry .3s;
  }

  &.died {
    animation: falling 6s ease-in;
    animation-fill-mode: forwards;
    transform: rotate(180deg) translateY(75%) !important;

    &:after {
      opacity: 0;
    }

    #giraffe {
      transform-origin: 50% 50%;
      animation: rotating 1s linear infinite;
    }

    #acceleration {
      animation: none;
      transition: transform .3s;
      transform: scale(0);
    }
  }

  #acceleration {
    width: 15vw;
    height: 15vw;
    background: url(~src/assets/img/fire.png) center center no-repeat;
    background-size: contain;
    position: relative;
    animation: acceleration .1s infinite;
    transform-origin: 50% 100%;
    mix-blend-mode: multiply;

    @keyframes acceleration {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
    }
  }

  #giraffe {
    width: 15vw;
    height: 15vw;
    background: url(~src/assets/img/giraffe.png) center center no-repeat;
    background-size: contain;
    transform: rotate(180deg) translate(-0.5vw, -25vw);
    position: relative;
    z-index: 5;
  }

  @keyframes rotating {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(-180deg);
    }
  }

  @keyframes falling {
    0% {
      top: 80vh;
    }
    100% {
      top: 110vh;
    }
  }
}
