:host {
  &.active #title {
    opacity: 1;
  }

  &.closing #title {
    h1 {
      transform: translateX(-100vw);
    }

    img,
    app-star-moving {
      opacity: 0;
    }

    .cta {
      transform: translateX(100vw);
    }
  }

  app-star-moving {
    opacity: 1;
  }

  #title {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 4);
    opacity: 0;
    transition: opacity .2s;
  }

  #title-screen {
    width: 100%;
    height: 100%;
    padding: 10vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h1 {
      color: #f6b953;
      font-size: 10vw;
      font-weight: 800;
      text-align: center;
      margin: 0;
      transition: transform .5s;
      pointer-events: none;

      div {
        &:nth-child(2) {
          font-size: 12vw;
        }

        &:nth-child(3) {
          font-size: 14vw;
        }
      }
    }

    img {
      width: 90vw;
      height: 75vw;
      position: relative;
      right: -5.5vw;
      pointer-events: none;
      transition: opacity .5s;
    }

    .cta {
      font-weight: 800;
      background-color: #f6b953;
      height: 48px;
      border-radius: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10vw;
      z-index: 10;
      animation: play-now 1s infinite;
      transition: transform .5s;

      @keyframes play-now {
        0%, 50% {
          color: #fff;
        }

        51%, 100% {
          color: transparent;
        }
      }
    }
  }
}
