<div id="intro">
  <div id="text">
    <app-text value="Once upon a time the human race has evolved into their posthuman form and finally left the planet Earth."
              *ngIf="phase === 1"
    ></app-text>

    <app-text value="Their place was taken by the obvious one..."
              visible="5"
              *ngIf="phase === 2"
    ></app-text>

    <app-text class="giraffe"
              value="THE GIRAFFE"
              delay="5"
              interval="150"
              visible="2"
              *ngIf="phase === 2"
    ></app-text>

    <app-text value="With their long necks they were the only ones able to reach the stars."
              *ngIf="phase === 3"
    ></app-text>
  </div>

  <app-star *ngFor="let i of helper.range(200)" height="500" gradient="true"></app-star>

  <div id="skip" [class.visible]="skip" (click)="skipIntro()">
    skip
  </div>
</div>
