* {
  box-sizing: border-box;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Courier', monospace;
  background: #fff;
  position: relative;
  color: #fff;
  font-size: 16px;
  touch-action: manipulation;
}
